
<a href= "/users/edit/">Update Profile</a> |
<a href= "/users/listAll">Browse User</a> |
<a href= "/users/ilike">People That I like</a> |
<a href= "/users/likeme">People who likes me</a>
<a href="/users/logout">logout</a>