<%- include("partials/header", { isLogged: false})%>

        <h1>Form Register</h1>
        <hr>
        <form action= "/users/register" method= "POST" >
            <table>
                <tr>
                    <th>First Name</th>
                    <td><input type= "text" name="inputFirstName"></td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td><input type= "text" name="inputLastName"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type= "email" name="inputEmail"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type= "password" name="inputPassword"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button type= "submit">REGISTER</button></td>
                </tr>
            </table>
        </form>

        <%- include("partials/footer") %>