<%- include("partials/header", { isLogged: true})%>
        
<div class="container mt-3">
    <div class="jumbotron">
        <h2>People Who Like Me</h2>
    </div>
    
        <div class="row">
            <% data.forEach(d => { %>
            
                <%- include("partials/card", { id: d.id, name: d.firstName, email: d.email, image: d.image, gender: d.gender }) %>
                  
              <% }) %>
        </div>
    </div>


    

<%- include("partials/footer") %>


